
.nav.navbar-nav {
    background-color: white;
}
#menu-navbar-collapse {
    background-color: white;
}
.d-menu {
    background-color: white;
    list-style: none;
}
.navbar-header {
    background-color: white;
}

.d-list-item {
    height: 50px; //fix height so that dropdown menu can overflow it
}

.nav a {
    color: #5a5a5a;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}
.d-menu li {
    //padding-top: 10 px;
    padding-bottom: 10px;
}
h1 {
    color: Khaki ;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
}
h2 {
    color: #393c3d; 
    font-size: 24px;
    /*border: 2px solid black;*/
}
p {
    margin-bottom: 13px; 
    font-size: 15px;
    /*border: 2px solid black;*/  
}
.jumbotron {
    padding: 0px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    /*border: 2px solid black;*/
    margin-top: 0px;
    margin-bottom: 0px;
    background-position:center center;
}
.jumbotron .icon-menu {
    font-size: 2em;
    text-transform: uppercase;
    height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.jumbotron .icon-menu a {
    text-decoration: none;
}
.jumbotron .icon-menu a:link, .jumbotron .icon-menu a:visited { 
    color: #fff;
}
.jumbotron .icon-menu a:hover, .jumbotron .icon-menu a:active { 
    color: khaki;
}
.jumbotron .container {
    position: relative;
    top:130px;
}
.jumbotron h1 {
    color: Khaki ;
    font-size: 48px;  
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
}
.jumbotron p {
    font-size: 20px;
    color: #fff;
    //color: #1b6d85;
    //text-shadow: 4px 4px 4px black;
    text-shadow: 0px 0px 16px black;
}
.supporting-content {
    //background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 25px;
    /*border: 1px solid black;*/
    margin-top: 0px;
    margin-bottom: 0px;
}





