<!DOCTYPE html>
<html ng-app="mainApp">

    <head>
        <title>Financial Model</title>

        <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">

    </head>

    <body class="list-group" ng-controller="DisplayBoxController as display">
        <!--Included Scripts-->
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-apps/app.js"></script>
        <script type="text/javascript" src="js/angular-apps/nav-app.js"></script>
        <!--Navigation Bar-->
        <div ng-include="'templates/header.html'"></div>
        <!--Form-->
        <div class="list-group-item">
            <form name="inputForm" ng-submit="display.calcMonthlyPayment()">
                <div class="form-group">
                    <label for="annualIncome">Annual Income</label>
                    <input type="number" class="form-control" ng-model="display.annualIncome" id="annualIncome" min="0" max="1000000000">
                </div>
                <div class="form-group">
                    <label for="costOfProperty">Total Cost of Property</label>
                    <input type="number" class="form-control" ng-model="display.costOfProperty" id="costOfProperty" min="0" max="1000000000">
                </div>
                <div class="form-group">
                    <label for="apr">Annual Percentage Rate for Mortgage</label>
                    <br>
                    <select name="apr" class="form-control" ng-model="display.apr" ng-options="value for value in [1,2,3,4,5]">
                        <option value=""></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberOfUnits">Number Of Units: {{display.numOfUnits}}</label>
                    <input type="range" class="form-control" ng-model="display.numOfUnits" id="numberOfUnits" min="12" max="20" step="1">
                </div>
                <div class="form-group">
                    <label>Cost Sharing Model</label>
                    <br>
                    <input type="radio" name="costSharingModel" value="Split Evenly" ng-model="display.costSharingModel"> Split Evenly
                    <br>
                    <input type="radio" name="costSharingModel" value="Sliding Scale" ng-model="display.costSharingModel"> Sliding Scale
                    <br><br>
                </div>
                <div class="form-group">
                    <input type="submit" class="form-control" value="Submit"> 
                </div>


            </form>  
        </div>
        <!--Result Section-->
        <div class="list-group-item">
            <blockquote>
                Monthly Payment: {{display.monthlyPayment| currency}}
            </blockquote>
        </div>





        <!--    <div class="nav">
              <div class="container">
                <ul  class="pull-left">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="properties_2.html">Properties</a></li>
                  <li><a href="financial_model.html">Financial Model</a></li>
                  <li><a href="membership.html">Membership</a></li>
                  <li><a href="application.html">Application</a></li>
                </ul>
              </div>
            </div>
        
              <div class="jumbotron" ng-controller="MainController">
              <div class="container">
                  <h1>{{ 5 + 2 }}</h1>
              </div>
            </div> 
            
            <div class="supporting-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Content coming soon!</h3>
                        </div>
                        <div class="col-md-6">
           
                        </div>
                     </div>   
                </div>
            
            
            </div>-->




    </body>
</html>
