<!DOCTYPE html>
<html ng-app="mainApp">

    <head>
        <title>Financial Model</title>

        <!--Universal Header-->
        <!--CSS-->
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        
        <!--Vendor Javascript-->
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="js/jquery.cycle2.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>

        <!--Custom Javascript-->
        <script type="text/javascript" src="js/nav-menu.js"></script>
        <script type="text/javascript" src="js/angular-apps/app.js"></script>

    </head>

    <body ng-controller="DisplayBoxController as display">
        <div class="nav navbar-fixed-top" >
            <div class="container-fluid">
                <ul>
                    <li class="fa fa-angle-up"></li>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="properties_2.html">Properties</a></li>
                    <li><a href="financial_model.html">Financial Model</a></li>
                    <li><a href="membership.html">Membership</a></li>
                </ul>  
            </div>
        </div>
        <div class="jumbotron" style="background-image: url(img/financial_model.jpg)">
            <div class="icon-menu">
                <a href="#"><i class="fa fa-bars"></i>Menu</a>
            </div>
            <div class="container" >
                <h1>Financial Model</h1>
                <p>How our community will share costs</p>
            </div>
        </div>
        <div class="list-group">
            <div class='list-group-item'>
                <div class='container'>
                    <div class=" row">
                        <div class="col-md-6">   
                            <h2>Winding Rivers Financial Model</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class='list-group-item'>
                <div class='container'>
                    <div class=" row">
                        <div class="col-md-6">

                            <p>Our community  plans to use a <strong> sliding scale financial model </strong>
                                to share the costs of our property's mortgage.  In our model, 
                                a household's fraction of the group mortgage is proportional 
                                to its fraction of the group's combined income.  
                            </p>
                            <p>
                                To calculate each household's monthly mortgage payment, first we total the
                                incomes of all the households in the group to get the Total Group Annual Income.  
                                Next, we take the Total Group Annual Mortgage Payment and divide it by the 
                                Total Group Annual Income.  This gives us the <strong> flat percentage of income </strong> that 
                                each household will have to contribute towards the Total Group Mortgage Payment.
                                Thus, people with lower incomes contribute less becasue they earn less money, and 
                                people with higher incomes contribute more because they earn more money. 
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>To make this concept more concrete, check out the below <strong>table</strong>, which shows the
                                distribution of annual income in the City of St. Louis for 2013.  We imagine
                                our community's incomes will likely follow a similar distribution. 
                            </p>
                            <p>
                                Also check out the <strong> interactive monthly payment calculator</strong> below to see how a household's
                                monthly payments change based on several factors, and also to see the sliding-scale model
                                compared to a simple even-split model.  
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--STL Income Distribution Table-->
            <div class="list-group-item" >
                <table class="table" id="dtable" >
                    <caption>Income Distribution Table for City of St. Louis, 2013</caption>
                    <thead>
                        <tr>
                            <th>Annual Income Distribution Groups</th>
                            <th>Representative Annual Income for Each Group</th>
                            <th>Distribution Percentage</th>
                            <th>Num of Households in Income Group Given 12 Households in Community</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in display.representativeIncomes">
                            <td>{{display.incomeGroups[$index]}}</td>
                            <td>{{display.representativeIncomes[$index]| currency}}</td>
                            <td>{{display.distributionPct[$index]}}</td>
                            <td>{{display.peoplePerIncomeStatic[$index]| number:2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Monthly Payment Calculator-->
            <div class="list-group-item" id="interact-calc">
                <h3>Interactive Monthly Payment Calculator</h3>
                <h5>Use this interactive tool to estimate what your household's
                    monthly mortgage payment will be once the community is built. </h5>
            </div>
            <!--Form-->
            <div class="list-group-item">
                <form name="inputForm" ng-submit="display.calcMonthlyPayment()">
                    <div class="form-group">
                        <label for="annualIncome">Annual Household Income</label>
                        <input type="number" class="form-control" ng-model="display.annualIncome" id="annualIncome" min="0" max="1000000000">
                    </div>
                    <div class="form-group">
                        <label for="costOfProperty">Total Cost of Property Acquisition (Purchase + Rehab)</label>
                        <input type="number" class="form-control" ng-model="display.costOfProperty" id="costOfProperty" min="0" max="1000000000">
                    </div>
                    <div class="form-group">
                        <label for="apr">Annual Percentage Rate for Mortgage</label>
                        <br>
                        <select name="apr" class="form-control" ng-model="display.apr" ng-options="value for value in [1,2,3,4,5]">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numberOfUnits">Number Of Units: {{display.numOfUnits}}</label>
                        <input type="range" class="form-control" ng-model="display.numOfUnits" id="numberOfUnits" min="12" max="20" step="1">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="form-control" value="Submit"> 
                    </div>


                </form>  
            </div>
            <!--Result Section-->

            <div class="list-group-item">
                <table class="table">
                    <caption>Monthly Household Mortgage Payments According to 
                        Cost Sharing Model</caption>
                    <thead>
                        <tr>
                            <th>Cost Sharing Model</th>
                            <th>Group Monthly Mortgage Payment</th>
                            <th>Your Household Monthly Payment</th>
                            <th>Pct of Your Monthly Income</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in display.resultsObject.costSharingModels">
                            <td>{{display.resultsObject.costSharingModels[$index]}}</td>
                            <td>{{display.groupMonthlyMortgagePayment| currency}}</td>
                            <td>{{display.resultsObject.householdMonthlyPayment[$index]| currency}}</td>
                            <td>{{display.resultsObject.pctMonthlyIncome[$index]| number:2 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
