
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/nav-menu.js"></script>
<style>

    .nav.navbar-fixed-top {
        background-color: white; 
        border-bottom: 1px solid #dbdbdb;
        top: -30px;
    }
    .nav a {
        color: #5a5a5a;
        font-size: 11px;
        font-weight: bold;
        padding: 14px 10px;
        text-transform: uppercase;
    }

    .nav li {
        display: inline;
    }

</style>
<div class="nav navbar-fixed-top" >
    <div class="container">
        <ul  class="pull-left">
            <li><a href="index.html">Home</a></li>
            <li><a href="properties_2.html">Properties</a></li>
            <li><a href="financial_model.html">Financial Model</a></li>
            <li><a href="membership.html">Membership</a></li>
        </ul>  
    </div>
    <div class="nav-menu-button" style="display:block">
            <button type="button" class="btn btn-default">Default</button>
    </div>
</div>
